
<div *ngIf="images && images.length > 0" class="carousel-inner">
  <img *ngFor="let image of images; let i=index" 
    [src]="image.image"
    [ngClass]="{'carousel-item active': indexSelector === i}">

    <div class="card-body">
      <h2 class="card-title">titre</h2>
    </div>

    <div *ngIf="indicator" class="carousel-indicators">
      <span *ngFor="let button of images; let i=index"
      class="dot"
        [ngClass]="{'active': indexSelector === i}"
        (click)="selectImage(i)">
    </span>
    </div>

    <div *ngIf="controls">
      <span 
      class="carousel-control-prev-icon"
      (click)="selectImagePrev()">
    </span>
    </div>

    <div *ngIf="controls">
      <span class="carousel-control-next-icon"
      (click)="selectImageNext()">
      </span>
    </div>
    
</div>


